html {
  font-family: "Work Sans", sans-serif;
}

body {
  margin: 0;
}

h3 {
  color: #898989;
}

u {
   text-decoration: none;
   border-bottom: 10px solid black;
}

.social-media-footer {
  border-bottom: 10px solid #000;
}

.header {
  background-color: #898989;
  height: 200px;
}
