html {
  font-family: "Work Sans", sans-serif;
}

body {
  margin: 0;
}

h3 {
  color: #898989;
}

u {
   text-decoration: none;
   border-bottom: 8px solid black;
}

.social-media-icon {
  color: #fff;
  background-color: #000;
}

.social-media-footer {
  border-bottom: 10px solid #000;
}

.header {
  background-color: #898989;
  height: 200px;
}

.outline-box {
  border: 10px solid #000;
  height: 90%;
  width: 90%;
  position: absolute;
}

.case-study-preview .unit:hover .outline-box {
  opacity: 0;
}

.case-study-hover {
  color: #000;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
}

.case-study-preview .unit:hover .case-study-hover {
  opacity: 1;
}
