<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Katie Sheedy</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="css/modules.css" rel="stylesheet">
  <link href="css/grid.css" rel="stylesheet">
  <link href="css/type.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:500,700" rel="stylesheet">
</head>
<body class="{{page.bodyclass}}">
  <header class="{{page.logo-alignment}} gutter-1-2">
    <a href="index.html" class="">
      <div class="pad-t-2">
        <svg class="logo arrow"><use class="icon {{page.logosize}}" xlink:href="images/icons.svg#logo-{{page.logoshape}}"/></svg>
      </div>
    </a>
  </header>
  <main class="{{page.mainclass}}">

{{content}}

  </main>
  <footer>
    {% unless page.hidepager %}
    <div class="lower-nav wrapper text-center push-2">
      <a class="island arrow" href="{{page.previous}}">
        <svg class="icon i-32"><use xlink:href="images/icons.svg#arrow-previous"/></svg>
        <span>Previous</span>
      </a>
      <a class="island arrow" href="index.html">
        <svg class="icon i-48"><use xlink:href="images/icons.svg#home"/></svg>
      </a>
      <a class="island arrow" href="{{page.next}}">
        <span>Next</span>
        <svg class="icon i-32"><use xlink:href="images/icons.svg#arrow-next"/></svg>
      </a>
    </div>
    {% endunless %}
    <div class="push-2 text-center">
      <div class="push text-center social-media-footer inline-block">
        <ul class="push-1-2 list-group-inline">
          <li class="push-r-1-2">
            <a class="island-1-4 icon-wrap" href="#">
              <i class="icon i-32">
                <svg class=""><use xlink:href="images/icons.svg#socialmedia-insta"/></svg>
              </i>
            </a>
          </li>
          <li class="push-r-1-2">
            <a class="island-1-4 icon-wrap" href="#">
              <i class="icon i-32">
                <svg class=""><use xlink:href="images/icons.svg#socialmedia-email"/></svg>
              </i>
            </a>
          </li>
          <li class="push-r-1-2">
            <a class="island-1-4 icon-wrap" href="#">
              <i class="icon i-32">
                <svg class=""><use xlink:href="images/icons.svg#socialmedia-linkedin"/></svg>
              </i>
            </a>
          </li>
          <li>
            <a class="island-1-4 icon-wrap" href="#">
              <i class="icon i-32">
                <svg class=""><use xlink:href="images/icons.svg#socialmedia-vimeo"/></svg>
              </i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
