<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta name="description" content="{{page.meta}}" charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:500,700" rel="stylesheet">
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico"/>

  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_CA">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:url" content="http://katiesheedy.ca/{{page.url}}">
  <meta property="og:image" content="http://katiesheedy.ca/images/{{page.thumbnail}}.jpg">
  <meta property="og:site_name" content="Katie Sheedy">
  <meta property="og:description" content="{{page.meta}}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@sheedy_katie">
  <meta name="twitter:title" content="{{page.title}}">
  <meta name="twitter:url" content="http://katiesheedy.ca/{{page.url}}">
  <meta name="twitter:description" content="{{page.meta}}">
  <meta name="twitter:image" content="http://katiesheedy.cato-this/image.jpg">

  <meta name="ICBM" content="45.416667,-75.7">
  <meta name="geo.position" content="45.416667;-75.7">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">

</head>
<body class="{{page.bodyclass}}">
  <ul class="skip-links">
    <li><a href="#main">Jump to main content</a></li>
    <li><a href="#contentinfo">Jump to footer</a></li>
  </ul>
  <header role="banner" class="{{page.logo-alignment}} gutter-1-2">
    <a href="index.html" class="">
      {% if page.url == '/' %}
        <h1 class="push-0 pad-t-2">
          <svg class="logo arrow"><use class="icon i-256" xlink:href="images/icons.svg#logo-square"/></svg>
        </h1>
      {% else %}
        <div class="pad-t-2">
          <svg class="logo arrow"><use class="icon i-192" xlink:href="images/icons.svg#logo-rectangle"/></svg>
        </div>
      {% endif %}
      <!-- <div class="pad-t-2">
        <svg class="logo arrow"><use class="icon {{page.logosize}}" xlink:href="images/icons.svg#logo-{{page.logoshape}}"/></svg>
      </div> -->
    </a>
  </header>
  <main id="main" role="main" class="{{page.mainclass}}">

{{content}}

  </main>
  <footer class="pad-t" id="contentinfo" role="contentinfo">
    {% unless page.hidepager %}
    <div class="lower-nav wrapper text-center push-2">
      <a class="island arrow" href="{{page.previous}}">
        <svg class="icon i-32"><use xlink:href="images/icons.svg#arrow-previous"/></svg>
        <span>Previous</span>
      </a>
      <a class="island arrow" href="index.html">
        <svg class="icon i-48"><use xlink:href="images/icons.svg#home"/></svg>
      </a>
      <a class="island arrow" href="{{page.next}}">
        <span>Next</span>
        <svg class="icon i-32"><use xlink:href="images/icons.svg#arrow-next"/></svg>
      </a>
    </div>
    {% endunless %}
    <div class="pad-t push-2 text-center">
      <div class="push text-center social-media-footer inline-block">
        <ul class="push-1-2 list-group-inline">
          <li class="push-r-1-2">
            <a class="island-1-4 icon-wrap" href="https://www.instagram.com/sheedy.katie/">
              <i class="icon i-32">
                <svg class=""><use xlink:href="images/icons.svg#socialmedia-insta"/></svg>
              </i>
            </a>
          </li>
          <li class="push-r-1-2">
            <a class="island-1-4 icon-wrap" href="mailto:hello@katiesheedy.ca">
              <i class="icon i-32">
                <svg class=""><use xlink:href="images/icons.svg#socialmedia-email"/></svg>
              </i>
            </a>
          </li>
          <li class="push-r-1-2">
            <a class="island-1-4 icon-wrap" href="https://www.linkedin.com/in/katie-sheedy/">
              <i class="icon i-32">
                <svg class=""><use xlink:href="images/icons.svg#socialmedia-linkedin"/></svg>
              </i>
            </a>
          </li>
          <li>
            <a class="island-1-4 icon-wrap" href="https://vimeo.com/katiesheedy">
              <i class="icon i-32">
                <svg class=""><use xlink:href="images/icons.svg#socialmedia-vimeo"/></svg>
              </i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>

<script type="application/jd+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Katie Sheedy",
    "jobTitle": "Graphic Designer",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Ottawa",
      "addressRegion": "ON",
      "addressCountry": "CA",
    },
    "email": "hello@katiesheedy.ca",
    "website": "http://katiesheedy.ca/"
    "sameAs": [
      "https://www.instagram.com/sheedy.katie/",
      "https://www.linkedin.com/in/katie-sheedy/",
      "https://vimeo.com/katiesheedy"
    ]
  }
</script>
